body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#board {
    border: 1px solid black;
    display: grid;
    width: 600px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;

    margin-left: auto;
    margin-right: auto;
}

#board div {
    border: 1px solid black;
    height: 200px;
}

.cross {
    background-image: url("img/x.png");
    background-size: contain;
}

.circle {
    background-image: url("img/o.png");
    background-size: contain;
}

#scoreboard {
    display: flex;
    width: 80%;
    height: 100px;
    
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

#scoreboard div {
    flex: 1;
    text-align: center;
    display: grid;
    align-content: center;
    
    font-size: 2rem;
}

button {
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
    padding: 5px 10px;
}